
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #333; 
    width: 120px; 
    height: 100vh; 
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .navbar li {
    padding: 10px;
    color: #fff; 
    cursor: pointer;
  }
  
  .navbar li.selected {
    background-color: #555; 
  }
  